<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title>UrbanSense</title>
    <link href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css' rel='stylesheet' />
    <style>
      body { margin:0; padding:0; }
      .map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
    <script src="{{ url_for('static', filename='css/leaflet.css') }}"></script>
    <script src="https://use.fontawesome.com/aca777993a.js"></script>
  </head>
  <body>
    <div id='map-one' class='map'> </div>


    <script src='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'></script>
    <script src="{{ url_for('static', filename='js/leaflet-heat.js') }}"></script>
    <script src="{{ url_for('static', filename='js/render-map.js') }}"></script>
    <script>
      

      var accel_points = []
      {% for d in data["accel"] %}
        {% if d.is_pothole %}
          var intensity = 1.0
        {% else %}
          var intensity = 0.01
        {% endif %}
        accel_points.push(
          [{{ d.lat }}, {{ d.lng }}, intensity] // lat, lng, intensity
        )
      {% endfor %}
      var ir_points = []
      {% for d in data["ir"] %}
        {% if d.is_pothole %}
          var intensity = 1.0
        {% else %}
          var intensity = 0.01
        {% endif %}
        ir_points.push(
          [{{ d.lat }}, {{ d.lng }}, intensity] // lat, lng, intensity
        )
      {% endfor %}
      points = {
        "accel": accel_points,
        "ir": ir_points
      }
      generate_map(points)
      
      // add for loop here
      // {% for d in data %}
      // L.marker([{{ d.lat }}, {{ d.lng }}] {% if d.is_pothole %}, {icon: redIcon} {% endif %}  )
      //   .bindPopup('<div class="dp"><div class="dp-measurement">Measurement: {{ d.value }}</div></div>')
      //   .addTo(map);
      // {% endfor %}
    </script>
  </body>
</html>
